[submodule "rapid_prototyping_and_robotics/robotics_club_boatrace"]
	path = rapid_prototyping_and_robotics/robotics_club_boatrace
	url = https://github.com/fegaeze/robotics_club_boatrace.git
[submodule "rapid_prototyping_and_robotics/robotics_club_boatrace_v2"]
	path = rapid_prototyping_and_robotics/robotics_club_boatrace_v2
	url = https://github.com/fegaeze/robotics_club_boatrace_v2.git
[submodule "advanced_programming"]
	path = advanced_programming
	url = https://github.com/fegaeze/advanced_programming.git
[submodule "agile_software_development"]
	path = agile_software_development
	url = https://github.com/fegaeze/agile_software_development.git
[submodule "master_seminar_one"]
	path = master_seminar_one
	url = https://github.com/fegaeze/master_seminar_one.git
